.loading{
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    height: 4px;
    z-index: 9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 200vh;
    background-color: rgb(38, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}


.button{
    margin-left: 20px;
    text-decoration: none;
    font-size: 2rem;
    background: linear-gradient(90deg, #6616d0, #ac34e7);
    padding: 15px 40px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.buttons .button.two{
    background: linear-gradient(90deg, #025ce3, #4e94fd);
}
  

.overlay{
    position: absolute;
    background: white;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    animation: blink .5s linear;
    transform-origin: center;
    transition: 1s;
}

@keyframes blink {
    0%{
        height: 0;
        width: 0;
        opacity: 0.5;
    }
    100%{
        height: 400px;
        width: 400px;
        opacity: 0;
    }
}


.wrapper{
    display: block;
}

.wrapper .button2{
    font-size: 2rem;
    text-decoration: none;
    background-color: rgb(14, 14, 14);
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    overflow: hidden !important;
    z-index: 222 !important;
}
.wrapper .button2::before{
    content: "";
    position:absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background: linear-gradient(90deg, #025ce3, #4e94fd);
    transition: height 1s, width 1s;
    transform-origin: center;
    z-index: -1;
}

.wrapper .button2:hover::before{
    height: 350px;
    width: 350px;
}